.track {
    position: relative;
}

    .track__overlay {
        position: absolute;
        width: 55px;
        height: 55px;
        background-color: rgba(0,0,0,0.5);
    }

    .track__picture {
        width: 54px;
        height: 54px;
    }
    
    .track__data {
        display: inline-block;
        max-width: 80%;
        vertical-align: top;
    }
    
    .track__text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .track__spinner {
        position: relative;
        top: 20%;
        left: 20%;
        color: #c00;
    }